@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 94.4%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 240 6% 25% / 0.13;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 240 6% 97%;
    --accent-foreground: 239 71% 73%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --shadowColor1: #00000040;

    --gradient-angle: 45deg;
    --gradient-bg: linear-gradient(
      var(--gradient-angle),
      rgb(202, 194, 255),
      rgb(242, 231, 248) 100%
    );
    --mesh-bg: '';
    --solid-bg: '';
    --borderSize1: '0px';
    --borderColor1: #ffffff50;
    --borderRoundness1: '1rem';
  }

  .dark {
    --background: 216, 9%, 11%;
    --foreground: 231, 6%, 77%;

    --muted: 217.2 12.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 216, 9%, 11%;
    --popover-foreground: 231, 6%, 77%;

    --card: 216, 9%, 11%;
    --card-foreground: 231, 6%, 77%;

    --border: 217.2 11% 15%; /*#22262b*/
    --input: 217.2 11% 15%;

    --primary: 231, 6%, 77%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 231, 6%, 77%;

    --accent: 216, 15%, 9%;
    --accent-foreground: 242, 81%, 75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;

  overflow-x: auto;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .sidebar-option {
    @apply inline-flex h-[9%] items-center justify-between gap-2 border-b border-border px-4 transition-colors hover:bg-accent;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 w-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

#canvas-container > div > div > img {
  cursor: pointer;
}

#canvas-container > div > div > img:active {
  cursor: grabbing;
}

.moveable-control-box {
  --moveable-color: #7b7cd3 !important;
}

.circular-slider > div {
  transition: opacity 0s ease-in 0s !important;
  font-weight: 600;
}

.ProseMirror {
  outline: none !important;
}

#canvas-container img {
  /* disable all selection of image */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* prevent drag of images */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

#font-picker {
  box-shadow: none !important;
  border: 1px solid #22262b !important;
  border-radius: 0.5rem;
}

#font-picker button {
  background: #1a1c1f !important;
  box-shadow: none !important;
  height: 3rem;
  border-radius: 0.5rem;

}

.font-list {
  background: #1a1c1f !important;
  border-radius: 0.5rem;
}


#font-picker button .dropdown-icon::before {
  border-top: 6px solid white !important;
}


